$primary-thin: #7d8184;
$primary-light: hsla(00, 0%, 0%, 30%);
$primary: #363738;
$primary-dark: #000;
$secondary-light: #fff;
$secondary: #f5f5f5;
$secondary-dark: #fefaf1;
$accent: #db4444;
$accent-light: #e07575;
$accent2: #00ff66;
$accent2-variaton: #a0bce0;
